# Question 1: How do you import the pandas package in Python?

#### import pandas as pd

# Question 2: What function do you use to read a CSV file in pandas?

#### import pandas as pd

#### df = pd.read_csv('file_path.csv')

# Question 3: How do you display the first 5 rows of a DataFrame in pandas?

#### df.head(5)

# Question 4: How do you calculate the mean of a column named Age in a DataFrame named df?

#### df['Age'].mean()

# Question 5: How do you calculate the median of a column named Salary in a DataFrame named df?

#### df['Salary'].median()

# Question 6: How do you calculate the standard deviation of a column named Score in a DataFrame named df?


#### df['Score'].std()

# Question 7: How do you find the number of missing values in each column of a DataFrame named df?

#### df.isna().sum()

# Question 8: How do you calculate the correlation between two columns, Age and Salary, in a DataFrame named df?

#### df['Age'].corr(df['Salary'])

# Question 9: How do you select a subset of a DataFrame df where the column Age is greater than 30?

#### df[df['Age'] > 30]

# Question 10: How do you calculate the range (maximum - minimum) of a column named Score in a DataFrame named df?

#### df['Score'].max() - df['Score'].min()

# Question 11: How do you group a DataFrame df by a column named Department and calculate the mean of Salary within each group?


#### df.groupby('Department')['Salary'].mean()

# Question 12: How do you group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group?

#### df.groupby(['Department', 'Job Title']).size()

# Question 13: How do you use the groupby method to find the maximum Age in each Department in a DataFrame df?


#### df.groupby('Department')['Age'].max()

# Question 14: How do you create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in a DataFrame df?

#### pd.crosstab(df['Department'], df['Job Title'])

# Question 15: How do you create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in a DataFrame df?

#### pd.pivot_table(df, values='Salary', index='Department', columns='Job Title', aggfunc='mean')