# Question 1: How do you import the pandas library in Python?

#### import pandas as pd

# Question 2: How do you read a CSV file named data.csv into a pandas DataFrame?

#### import pandas as pd 
#### df = pd.read_csv('data.csv')

# Question 3: How do you display the first 5 rows of a DataFrame named df?

#### df.head(5)

# Question 4: How do you find the number of rows and columns in a DataFrame df?

#### df.shape

# Question 5: How do you print the names of all the columns in a DataFrame df?

#### print(df.columns)

# Question 6: How do you get the summary information of the DataFrame df including data types and non-null values?

#### df.info()

# Question 7: How do you select only the rows in DataFrame df where the column A is greater than 5


#### df[df['A'] > 5]

# Question 8: How do you select the columns A and B from the DataFrame df?

#### df[['A', 'B']]

# Question 9: How do you rename the column A to Alpha in DataFrame df?

#### df.rename(columns={'A': 'Alpha'}, inplace=True)

# Question 10: How do you replace all occurrences of the value 999 in DataFrame df with nan?

#### import numpy as np

#### df.replace(999, np.nan, inplace=True)

# Question 11: How do you drop all rows in DataFrame df that contain missing values?

#### df.dropna(inplace=True)

# Question 12: How do you fill all missing values in DataFrame df with 0? 

#### df.fillna(0, inplace=True)

# Question 13: How do you calculate the mean of column A in DataFrame df?

#### df['A'].mean()

# Question 14: How do you create a new column C in DataFrame df that is the sum of columns A and B?

 #### df['C'] = df['A'] + df['B']

# Question 15: How do you save the DataFrame df to a CSV file named output.csv? (Find the solution by searching the pandas documentation.)

#### df.to_csv(r'C:\path\to\your\directory\output.csv', index=False)